/* lato-regular - latin */
@font-face {
  font-family: "Lato-400";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato-italic";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/lato-v23-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/lato-v23-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato-700";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./assets/fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/lato-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-bg-color: #0086c18f;
  --text-product-color: #553c9a;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato-400";
}

h1,
h2,
h3 {
  font-family: "Lato-700";
  background-image: radial-gradient(#553c9a, var(--main-bg-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
h2 {
  font-size: 40px;
}

/* about */

#about {
  background: linear-gradient(#1f39a07e, rgba(255, 255, 255, 0.4)),
    url("./assets/main-photo/main-bw.jpg") no-repeat;
  background-size: 100% 100%;
  height: 720px;
  margin-bottom: 40px;
}

.block__text {
  color: white;
  font-size: 22px;
  background: #0000005b;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  background: #0000005b;
  padding: 30px;
  letter-spacing: 6px;
}

.contacts-header {
  font-weight: 700;
  display: flex;
  color: #0086c1;
  transition: 0.5s;
}

.contacts-header a:hover {
  color: var(--text-product-color);
  transition: 0.5s;
}

/* products */

.main__header-text {
  padding: 20px;
  margin-bottom: 40px;
}

.nav-link {
  font-size: 20px;
}

.carousel-item {
  overflow: hidden;
}

.carousel-item-img {
  border-radius: 5px;
  width: 100%;
  height: 450px;
}

.products__header {
  font-size: 25px;
  padding: 15px;
  border-bottom: 1px solid var(--main-bg-color);
}

.products__header-text {
  padding: 0 16px;
  font-size: 20px;
  text-shadow: rgb(171 171 255) 1px 1px 0px;
}

.products__item {
  background-image: linear-gradient(
    -20deg,
    var(--main-bg-color),
    transparent 70%,
    transparent
  );
  border-radius: 10px;
  margin-bottom: 50px;
}

.bg-even-item {
  background-image: linear-gradient(
    -20deg,
    rgba(137, 43, 226, 0.184),
    transparent 50%,
    transparent
  );
}

/* kits */

.kits__block {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.7)),
    url("./assets/main-photo/photo_2022-03-20_20-44-52.jpg") no-repeat;
  background-position: 100% 0;
  background-size: 100% 120%;
}

.kits__header {
  color: white;
  padding: 130px 0;
  text-transform: uppercase;
}

.kits__img {
  border-radius: 5px;
  opacity: 0.7;
  transition: 0.5s;
  max-width: 400px;
}

.kits__img:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
  scale: 1.1;
}
.kits__img-wrapper {
  overflow: hidden;
}

/* contacts */
#contacts {
  background: radial-gradient(#dfdef4, white);
}

.contacts__block {
  height: 300px;
  font-family: "Lato-700";
  background-image: radial-gradient(#553c9a, rgba(137, 43, 226, 0.184));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.contacts__block p {
  color: gray;
  font-size: 16px;
  font-family: "Lato-400";
}

/* link pdf */
.products__link {
  font-size: 15px;
  width: 237px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  transition: 0.3s ease;

  overflow: hidden;
  text-align: center;
}

.products__link:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: 0.3s ease;
}
.products__link:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.products__link:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
/* link pdf */

/* set */
.set-btn {
  width: auto;
  height: auto;
  display: inline;
  background-image: linear-gradient(315deg, #000000 0%, #27b04b 74%);
}

.set-btn:after {
  border-radius: 10px;
  background-image: linear-gradient(315deg, #000000 0%, #27b04b 74%);
}
/* drop */
.dropdown {
  color: gray;
}
.dropdown:hover {
  color: black;
}
.dropdown-menu {
  min-width: 58px;
}
.footer__icon {
  transition: 0.5s;
}
.footer__icon:hover {
  scale: 1.1;
  transition: 0.5s;
}

.btn-main {
  margin-bottom: 40px;
  background-image: linear-gradient(315deg, #000000 0%, #7b27b0 74%);
}

.btn-main:hover {
  background-image: linear-gradient(315deg, #000000 0%, #7b27b0 74%);
}

@media (max-width: 1100px) {
  .nav-link {
    font-size: 16px;
  }

  .wrapper h1 {
    font-size: 30px;
  }

  .block__text {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .carousel {
    margin-bottom: 20px;
  }
}

@media (max-width: 993px) {
  .contacts-header {
    display: none;
  }
}

@media (max-width: 769px) {
  .products__header {
    font-size: 18px;
  }

  .products__header-text {
    font-size: 16px;
  }

  .carousel-item-img {
    height: 350px;
  }

  .kits__img-wrapper {
    text-align: center;
  }

  .wrapper h1 {
    font-size: 25px;
  }

  .block__text {
    font-size: 16px;
  }
}

@media (max-width: 740px) {
  .block__text {
    font-size: 16px;
  }

  #about {
    background-size: 134% 100%;
    background-position: 100% 100%;
  }
}

@media (max-width: 640px) {
  .products__link:hover:after {
    -webkit-transform: none;
  }

  .products__item {
    margin: 10px;
    margin-bottom: 30px;
  }
  .block__text {
    font-size: 14px;
  }
}

@media (max-width: 491px) {
  .products__header-text {
    font-size: 14px;
    padding: 0;
  }

  .products__link {
    font-size: 14px;
    height: 32px;
    padding: 7px 28px;
    width: 100%;
  }

  .products__header {
    margin-bottom: 15px;
  }

  .carousel-item-img {
    height: 280px;
  }

  .kits__header {
    padding: 80px 0;
  }

  .kits__img {
    max-width: 290px;
  }

  .main__header-text {
    margin: 0;
    font-size: 25px;
    padding: 10px;
  }

  .kits__header {
    font-size: 25px;
  }

  #contacts h2 {
    font-size: 30px;
  }

  .footer__icon {
    width: 35px;
    height: 35px;
  }

  .btn-main {
    width: 200px;
  }
  #about {
    background-size: 188% 100%;
    background-position: 98% 100%;
  }

  .set-btn {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .kits__img {
    max-width: 230px;
  }

  #about {
    background-size: 234% 100%;
    background-position: 100% 100%;
  }

  .products__header {
    text-align: center;
    font-size: 15px;
  }

  .products__header-text {
    font-size: 12px;
  }

  .carousel-item-img {
    height: 220px;
  }

  .wrapper h1 {
    font-size: 20px;
    padding: 10px;
  }

  .block__text {
    font-size: 13px;
  }
}
